## *Sesión de retos*

### Objetivo de la Sesión 3:

* Repasar NumPy resolviendo algunos ejercicios.
* Repasar Pandas resolviendo algunos ejercicios.

### *“Trabajar en equipo, divide el trabajo y multiplica los resultados”*, Anónimo.

In [1]:
import numpy as np
import pandas as pd

# 1. NumPy

1. Muestra la versión de NumPy utilizada

2. Crear un arreglo 1D con enteros positivos aleatorios

3. Crear un arreglo booleano

4. Extraer los items que sean divisibles en 3.

5. Convierte el arreglo booleano de 1D a 2D con tres filas (*reshape*)

6. Obtén los items comunes entre dos arreglos

7. Extrae los números del vector creado en el ejercicio 2 que esten a dos números de distancia del valor promedio del arreglo.

In [17]:
a = np.array([1,2,3,4,5])
promedio = a.mean()
promedio

3.0

8. Muestra solo 3 decimales en un vector.

9. Crea una atriz de 3x3 con los valores del 0 a 8

10. Del siguiente areglo [1,2,0,0,4,] encuentra los índices donde los elementos sean diferente a cero.

11. Crea un vector aleatorio de 30 elementos y encuentra la media.

12. Crea un arreglo 2D con 1 en los bordes y 0 dentro. Por ejemplo:

`1 1 1 1 1
1 0 0 0 1
1 0 0 0 1
1 1 1 1 1`

13. ¿Cuál es el resultado de la siguiente expresión?

`0 * np.nan`

`np.nan == np.nan`

`np.inf > np.nan`

`np.nan - np.nan`

`np.nan in set([np.nan])`

`0.3 == 3 * 0.1`

In [7]:
type(0.3)

float

In [9]:
type(3 * 0.1)

0.30000000000000004

In [10]:
n1 = 0.3
n2 = 3 * 0.1

In [12]:
n1 == n2.format(1)

AttributeError: 'float' object has no attribute 'format'


14. Crea una matriz de 5x5 con valores 1, 2, 3, 4 justo después de la diagonal.

In [18]:
np.ones?

15. Normaliza una matriz aleatoria de 5x5

# 2. Pandas

1. Imprime toda la información de versión de las librerias que necesita la biblioteca de pangas.

Considera el siguiente diccionario y lista.


```
data = {
     'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
     'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
     'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

2. Crea un DataFrame con el diccionario *data* que tenga como índices los valores de la lista *labels*.

3. Muestra una descripción o información básica acerca del DataFrame y sus datos. (Pista: existe una función que lo muestra).

4. Regresa las primeras 3 filas del DataFrame

5. Cambia el nombre de las columnas por:


*   Animal
*   Edad
*   Visitas
*   Prioridad

6. Muestra solo la columna "animal" and "age". ¿Esto es posible? Si no es posible, ¿qué debería ser?

7. Selecciona solo las filas donde el número de visitas sea mayor que 3.

8. ¿Cuáles son las filas donde la edad es NaN?

9. ¿Qué animales tienen una edad entre 2 y 4 años?

10. ¿Cuál es el total de todas las visitas?

12. Tenemos diferentes animales, ¿cuál es el número total de cada tipo de animal?

13. Cambia los valores de la columna Prioridad por valores booleanos, es decir:
'yes' => True 
'no' => False

14. Ordena el DataFrame por la Edad en orden descendiente y después por la columna Visitas en orden ascendente.

15. Para cada tipo de animal y cada número de visitas encuentra la edad promedio. 
(Pista: Si haz utilizado tablas pivotes, cada fila es un animal, cada columna es el número de visitas y los valores son la media de la edad).

# 3. Retos (opcional)

- Random Walk

- Game of Life

- Imagenes

- Texto